# --- Git and OS specific files ---
.git
.gitignore
.github
.DS_Store

# --- IDEs and Tools ---
.idea/
.vscode/
.husky/
.editorconfig
commitlint.config.js

# --- Build & Dependencies ---
**/node_modules/
**/dist/
.turbo/
**/tsconfig.tsbuildinfo
**/control-plane-artifacts/

# --- Logs & Docs ---
*.log
**/README.md

# --- Environment Files ---
.env
.env.*

# --- Docker Specifics ---
docker-compose.yml
Dockerfile*

# --- Terraform local artifacts ---
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
